/* ======= Base ======= */
body {
    font-family: 'Lato', arial, sans-serif;
    color: #444444;
}
a {
    color: #286da8;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #1e527f;
}
.fa-github {
    margin-left: 5px;
}
.offset-header {
    padding-top: 80px;
}
.has-pattern {
    background-image: url('../images/pattern-1.png');
    background-repeat: repeat;
    background-position: left top;
}

/* ======= Header ======= */
.header {
    padding: 15px 0;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 28px;
    max-height: 50px;
}
.header h1.logo a {
    color: #444444;
}
.header h1.logo a img {
    margin-right: 5px;
    max-height: 50px;
}
.header .main-nav button {
    background: #0b1d2c;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav button:focus {
    outline: none;
}
.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 10px;
}
.header .main-nav .nav .nav-item.active a {
    background-color: #eee;
}
.header .main-nav .nav .nav-item a {
    color: #444444;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.header .main-nav .nav .nav-item.active {
    color: #286da8;
}
.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}

/* ======= Promo Section ======= */
.promo {
    background-color: #286da8;
    color: white;
}

.promo .container {
    padding: 67px 30px;
}

.promo .container h2 {
    margin-bottom: 35px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.promo .summary {
    margin-left: 70px;
}

@media (max-width: 600px) {
    .promo .summary {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
    }
}

.summary li {
    font-size: 20px;
    list-style: none;
    font-weight: 300;
    margin-bottom: 15px;
    background: url('../images/bullet.png') no-repeat left center;
    padding-left: 30px;
}

/* ======= Features Section ======= */
.features {
    padding: 80px 0;
}
.features .title {
    margin-bottom: 60px;
}
.features .icon {
    position: relative;
    width: 90px;
    height: 90px;
    border: 3px solid #286da8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: table;
    margin: 0 auto;
    -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
    -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
    transition: transform ease-out 0.2s, background 0.3s;
}
.features .icon:hover {
    background: #286da8;
    color: #fff;
}
.features .icon:hover .fa {
    color: #fff;
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    -o-transform: scale(0.93);
}
.features .icon .fa {
    color: #286da8;
    font-size: 48px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.features .content {
    padding: 30px;
}
.features .content .title {
    color: #286da8;
    font-size: 18px;
    margin-top: 0;
}
.features .content p {
    font-weight: 300;
}

/* ======= Story Section ======= */
.story {
    background-color: #286da8;
    color: #fff;
    padding: 80px 0;
}
.story img{
    height: 140px;
}
.story a {
    color: white;
    font-weight: bold;
}
.story .content .title {
    margin-bottom: 30px;
    margin-top: 0;
}
.story .content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}
.story .team {
    font-size: 16px;
}
.story .team .member img {
    margin-bottom: 15px;
}
.story .team .member .name {
    color: #0b1d2c;
    margin-bottom: 0px;
}
.story .team .member .title {
    color: #87b8e2;
    font-weight: 300;
}
.story .team .connect {
    color: #fff;
    font-size: 26px;
}
.story .team .connect a {
    color: #143856;
}
.story .team .connect a:hover {
    color: #060f18;
}

/* ======= FAQ Section ======= */
.faq {
    padding: 80px 0;
}
.faq .title {
    margin-bottom: 60px;
}
.faq .item {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 3px solid #87b8e2;
}
.faq .item .question {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}
.faq .item .question .fa {
    margin-right: 10px;
    color: #3488cf;
}
.faq .item .answer {
    color: #777777;
    font-weight: 300;
}
.faq .more {
    margin-top: 30px;
}
.faq .more .title {
    margin-bottom: 15px;
    color: #999999;
    font-size: 18px;
}
.faq .more .btn {
    font-size: 18px;
    padding-left: 30px;
}
.faq .more .btn .fa {
    margin-left: 5px;
}

/* ======= Footer ======= */
.footer {
    background: #444444;
    color: #fff;
    padding: 15px 0;
}
.footer .copyright {
    color: #b3b3b3;
    margin-right: 15px;
}
.footer .links {
    margin-bottom: 0;
}
.footer .links a {
    color: #808080;
}
.footer .links a:hover {
    color: #286da8;
}